.App {
  text-align: center;
  
}

.slogan {
  color: rgb(85, 91, 152);
}



.App-header {
  background-color: #94b3f088;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #d90c80;
}


